<div class="my-10 mx-15 ">
<!--  @defer {-->
    <div class="mb-7 main-container text-[var(--main-text)]">
      <div class="flex">
        <div class="img-nursery-container">
          <img src="{{nurseryService.nurseryDetail$().imageUrl}}" alt="Imagen vivero">
        </div>
        <div class="flex justify-content-center flex-col mx-5">
          <h1 class="text-3xl mb-10">{{ nurseryService.nurseryDetail$().name }}</h1>
          <p>Detalles</p>
          <p class="font-light text-justify">{{ nurseryService.nurseryDetail$().description }}</p>
        </div>
      </div>

      <div class="">
        <div class=" flex align-items-center mb-4">
          <svg class="w-10" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                  d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                  d="M17.8 13.938h-.011a7 7 0 1 0-11.464.144h-.016l.14.171c.1.127.2.251.3.371L12 21l5.13-6.248c.194-.209.374-.429.54-.659l.13-.155Z"/>
          </svg>
          <h1 class=" text-3xl">Ubicación</h1>
        </div>
        <div class="map-container w-100 h-100">
          <div id="mapa"></div>
        </div>
      </div>
    </div>
<!--  }-->

  <h4 class="text-2xl">Productos</h4>


<!--  @defer {-->
    <div class="grid grid-cols-5 gap-4 my-5 mx-3 text-[var(--main-text)] align-items-center"
         *ngIf="nurseryService.nurseryProducts$()">
      @for (product of nurseryService.nurseryProducts$(); track product.id) {
        <button class="rounded-2xl border-1 border-[var(--main-text)] px-8 py-2">
          <h1 class="text-2xl font-medium">{{ product.name }}</h1>
          <p>{{ product.description }}</p>
          <p>${{ product.price }}</p>
        </button>
      } @empty {
        <div class="flex justify-content-center align-items-center h-full w-full">
          <h1 class="text-2xl">No hay productos disponibles</h1>
        </div>
      }
    </div>
    @if (nurseryService.nurseryProducts$().length){
      <app-pagination [service]="nurseryService"/>
    }
<!--  }-->
  <!-- <div>
    <h4>Comentarios</h4>
  </div> -->
</div>
