<div class="my-10 mx-15 ">

  <div class="flex flex-wrap lg:flex-nowrap text-[var(--main-text)] mb-10">
    <div class="flex flex-col sm:flex-row w-full">
      <img src="{{nurseryService.nurseryDetail$().imageUrl}}" alt="Imagen vivero" class="w-[350px] h-[400px] object-cover rounded-lg">
      <div class="mx-0 sm:mx-5">
        <h1 class="text-3xl mb-2">{{ nurseryService.nurseryDetail$().name }}</h1>
        <p>Detalles</p>
        <p class="font-light text-justify">{{ nurseryService.nurseryDetail$().description }}</p>
      </div>
    </div>

    <div class="flex flex-col">
      <div class="flex items-center">
        <svg class="w-10" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                d="M17.8 13.938h-.011a7 7 0 1 0-11.464.144h-.016l.14.171c.1.127.2.251.3.371L12 21l5.13-6.248c.194-.209.374-.429.54-.659l.13-.155Z"/>
        </svg>
        <h1 class="text-3xl">{{ "NURSERIES.LOCATION_TITLE" | translate }}</h1>
      </div>
      <div class="rounded-lg w-[500px] h-[300px]" id="mapa"></div>
    </div>
  </div>

  <h4 class="text-2xl text-[var(--main-text)]">{{ "NURSERIES.PRODUCTS_TITLE" | translate }}</h4>


    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 my-5 mx-3 text-[var(--main-text)] align-items-center"
         *ngIf="nurseryService.nurseryProducts$()">
      @for (product of nurseryService.nurseryProducts$(); track product.id) {
        <div class="relative py-3 px-7 bg-white border-1 border-[var(--main-text)] rounded-lg hover:scale-105 transition duration-500">
          <div class="flex items-center">
            <span class="text-xl">🌱</span>
            <h3 class="my-y ml-1 text-lg font-bold">{{ product.name }}</h3>
            <button class="cart-btn" (click)="addProductToCart(product.name, product.price)">{{ 'NURSERIES.ADD_CART' | translate }}</button>
          </div>
          <p class=" text-lg">{{ product.description }}</p>
          <p>${{ product.price}}</p>
        </div>
      } @empty {
        <div class="flex justify-content-center align-items-center h-full w-full">
          <h1 class="text-2xl">{{ "NURSERIES.NO_PRODUCTS" | translate}}</h1>
        </div>
      }
    </div>
    @if (nurseryService.nurseryProducts$().length){
      <app-pagination [service]="nurseryService"/>
    }

</div>
