<div class="table-container table-responsive">
  @if (nurseryList.length){
    <table class="table-nursery table-striped">
      <!--    table-auto w-full border-separate border-2 border-gray-300 rounded-lg-->
      <thead>
      <tr class="border-b border-gray-300">
        <th>Id</th>
        <th>Nombre</th>
        <th>Ubicación</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
        @for (item of nurseryList; track item.id){
          <tr>
            <td>{{item.id}}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.latitude }} , {{item.longitude}}</td>
            <td>{{ item.active ? 'Activo' : 'Desactivado' }}</td>
            <td>
<!--              <button class="underline" (click)="showEditModal(item, editModal)" )>Editar</button>-->
              <button class="underline ml-1">Editar</button>
              <button class="underline">Eliminar</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <h4 class="text-[var(--green-line)] text-center">No se han creado viveros</h4>
  }
</div>

<!--<app-modal #editModal-->
<!--           [title]="'Editar Vivero'"-->
<!--           (confirm)="updateNursery(nurseryForm, $event)"-->
<!--&gt;-->
<!--  <div class="flex flex-col space-y-4 text-1xl text-[#5C684B]" [formGroup]="nurseryForm">-->
<!--    <p class="text-center mb-4">Ingrese los datos del vivero</p>-->

<!--    <div>-->
<!--      <label class="block mb-1 text-sm text-gray-600">-->
<!--        Nombre-->
<!--      </label>-->
<!--      <input type="text" formControlName="name" class="input-field" placeholder="Nombre del vivero">-->
<!--      <div *ngIf="nurseryForm.get('name')?.touched && nurseryForm.get('name')?.invalid" class="text-red-600 text-xs">-->
<!--        Nombre requerido-->
<!--      </div>-->
<!--    </div>-->

<!--    <div>-->
<!--      <label class="block mb-1 text-sm">-->
<!--        Latitud-->
<!--      </label>-->
<!--      <input type="number" formControlName="latitude" class="input-field" placeholder="Latitud">-->
<!--      <div *ngIf="nurseryForm.get('latitude')?.touched && nurseryForm.get('latitude')?.invalid" class="text-red-600 text-xs">-->
<!--        Latitud requerida-->
<!--      </div>-->
<!--    </div>-->

<!--    <div>-->
<!--      <label class="block mb-1 text-sm">-->
<!--        Longitud-->
<!--      </label>-->
<!--      <input type="number" formControlName="longitude" class="input-field" placeholder="Longitud">-->
<!--      <div *ngIf="nurseryForm.get('longitude')?.touched && nurseryForm.get('longitude')?.invalid" class="text-red-600 text-xs">-->
<!--        Longitud requerida-->
<!--      </div>-->
<!--    </div>-->

<!--    <div>-->
<!--      <label class="block mb-1 text-sm">-->
<!--        Estado-->
<!--      </label>-->
<!--      <select formControlName="active" class="input-field">-->
<!--        <option [value]="true">Activo</option>-->
<!--        <option [value]="false">Inactivo</option>-->
<!--      </select>-->
<!--      <div *ngIf="nurseryForm.get('active')?.touched && nurseryForm.get('active')?.invalid" class="text-red-600 text-xs">-->
<!--        Campo requerido-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</app-modal>-->
