@defer{
<div class="px-20 py-10 text-[var(--main-text)]">
    <div class="flex justify-between items-center pb-5">
        <h1 class="text-[2rem] font-semibold">{{ 'MY_PRODUCTS.TITLE' | translate }}</h1>
        <button class="primary-btn" (click)="createProduct()">{{ 'MY_PRODUCTS.BUTTONS.CREATE' | translate }}</button>
    </div>
    <div class="bg-[#FCFFF8] border-1 border-[#DCE6D3] rounded-lg px-5 pt-7 mt-5">
        <div class="px-4 sm:px-0 pb-5 border-b border-[#DCE6D3]">
            @if (nurseryService.nurseryProducts$().length) {
                <h3 class="text-lg font-semibold ">{{ 'MY_PRODUCTS.TITLE' | translate }}</h3>
            } @else {
                <h3 class="text-lg font-semibold text-center">{{'MY_PRODUCTS.EMPTY_MESSAGE' | translate}}</h3>
            }
        </div>
        <div>
                @if (nurseryService.nurseryProducts$().length) {
                    <div class="table-container table-responsive">
                    <table class="table-nursery table-striped rounded-2xl">
                    <thead>
                    <tr>
                        <th class="font-medium">{{'MY_PRODUCTS.TABLE.HEADERS.NAME' | translate}}</th>
                        <th class="font-medium">{{'MY_PRODUCTS.TABLE.HEADERS.DESCRIPTION' | translate}}</th>
                        <th class="font-medium">{{'MY_PRODUCTS.TABLE.HEADERS.PRICE' | translate}}</th>
                        <th class="font-medium">{{'MY_PRODUCTS.TABLE.HEADERS.ACTIONS' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                        @for (product of nurseryService.nurseryProducts$(); track product.name) {
                            <tr>
                                <td>{{ product.name}}</td>
                                <td>{{ product.description}}</td>
                                <td>${{ product.price}}</td>
                                <td class="flex gap-5 justify-center">
                                    <button class="underline" (click)="showEditModal(product, editModal)">{{'MY_PRODUCTS.TABLE.ACTIONS.EDIT' | translate}}</button>
                                    <button class="underline text-red-600" (click)="showDeleteModal(product, deleteProduct)" >{{'MY_PRODUCTS.TABLE.ACTIONS.DELETE' | translate}}</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                    </table>
                </div>
                }
                
        </div>
    </div>
    <div>
        @if(nurseryService.nurseryProducts$().length) {
            <app-pagination [service]="nurseryService"/>
        }
    </div>
</div>
}

<app-modal #editModal [title]="'Editar producto'" (confirm)="updateProduct(productForm, $event)">
    <div class="flex flex-col space-y-4 text-1xl text-[#5C684B]" [formGroup]="productForm">
        <p class="text-center mb-4">Ingrese los datos del producto</p>

        <div>
            <label class="block mb-1 text-sm text-gray-600">Nombre</label>
            <input type="text" formControlName="name" class="w-full border-1 border-[#97A97C] p-1 rounded-md" placeholder="Nombre del producto">
            <div *ngIf="productForm.get('name')?.touched && productForm.get('name')?.invalid" class="text-red-600 text-xs">Nombre requerido</div>
        </div>

        <div>
            <label class="block mb-1 text-sm text-gray-600">Descripcion</label>
            <textarea type="text" formControlName="description" class="w-full border-1 border-[#97A97C] p-1 rounded-md" placeholder="Descripcion del producto"></textarea>
            <div *ngIf="productForm.get('description')?.touched && productForm.get('description')?.invalid" class="text-red-600 text-xs">Descripcion requerida</div>
        </div>

        <div>
            <label class="block mb-1 text-sm">Precio</label>
            <input type="number" formControlName="price" class="w-full border-1 border-[#97A97C] p-1 rounded-md" placeholder="Precio del producto">
            <div *ngIf="productForm.get('price')?.touched && productForm.get('price')?.invalid" class="text-red-600 text-xs">Precio requerido</div>
        </div>

    </div>
</app-modal>

<app-modal #deleteModal [title]="'Eliminar producto'" (confirm)="deleteProduct()">
    <div class="flex flex-col space-y-4 text-1xl text-[#5C684B]">
        <p class="text-center mb-4">¿Estas seguro de eliminar el producto?</p>
    </div>
</app-modal>