.actions-container{
    display: flex;
    justify-content: space-evenly;
  }
  
  .table-striped td, .table-striped th {
    text-align: center;
    padding: 15px 8px;
  }
  
  .table-striped td {
    color: #5C684B;
    border-top: 1px solid #DCE6D3;
  }
  
  .table-striped th {
    color: #5C684B;
  }
  
  .table-nursery {
    background-color: #FCFFF8;
    border-collapse: collapse;
    width: 100%;
  }
  