<div class="bg-[url(/assets/images/bg-nursery.png)] bg-cover bg-fixed h-60 w-full bg-gray-400 bg-blend-multiply title-container">
  <div class="-py-10">
    <h1 class="text-6xl text-white">Viveros cercanos</h1>
  </div>
</div>

<div class="mx-auto max-w-7xl px-4 py-14 sm:px-6 lg:px-8">

  @defer{
    <div class="grid grid-cols-2 gap-x-6 gap-y-10 md:grid-cols-3 lg:grid-cols-4 xl:gap-x-8">
      @for (item of nurseryService.nurseries$(); track item.id){
        <div class="rounded-2xl flex flex-col justify-center cursor-pointer">
          <a (click)="nurseryDetailsPage(item.id)">
            <img class="w-[278.219px] h-[278.219px] object-cover rounded-lg" alt="Logo vivero" src="{{item.imageUrl}}">
            <h3 class="mt-3 text-sm font-medium">{{ item.name }}</h3>
            <p  class="text-xs text-gray-400">{{ item.description }}</p>
          </a>
          <button class="primary-btn mt-2 w-full py-1" (click)="nurseryDetailsPage(item.id)">
            Ver vivero
          </button>
          <button class="secondary-btn mt-2 w-full py-1" (click)="goToEvaluation(item.id)">
            {{ 'EVALUATION.BUTTON_MESSAGE' | translate }}
          </button>
        </div>


      }
    </div>
    @if (nurseryService.nurseries$().length){
      <app-pagination [service]="nurseryService"/>
    }
  }@loading (minimum 2s){
    <app-loader></app-loader>
  }
</div>
