<!-- Container: Left side (brand & image) and Right side (forms) -->
<div class="flex flex-col md:flex-row w-full h-screen bg-[#DCE6D3]">
  <!-- Left side (Brand & Image) -->
  <div class="hidden md:flex flex-col items-center justify-center md:w-full bg-[#DCE6D3] p-10">
    <h1 class="text-5xl font-bold mb-4 text-[#97A97C]">
      {{ 'AUTH.LEFT_SIDE.TITLE' | translate }}
    </h1>
    <img src="../../../assets/images/login-image.png" alt="{{ 'AUTH.LEFT_SIDE.IMAGE_ALT' | translate }}" class="w-[80%] max-w-md mb-6 rounded-md shadow">
    <p class="text-2xl text-[#FFFFFF]">
      {{ 'AUTH.LEFT_SIDE.DESCRIPTION' | translate }}
    </p>
  </div>

  <!-- Right side: Form Container -->
  <div class="flex flex-col w-full h-full md:w-1/2 bg-white p-8 md:p-10 lg:p-12 items-center">
    <!-- Mobile Brand -->
    <div class="flex md:hidden items-center justify-center mb-6">
      <h1 class="text-4xl font-bold text-green-700">
        {{ 'AUTH.LEFT_SIDE.TITLE' | translate }}
      </h1>
    </div>

    <!-- Login Form -->
    <div *ngIf="formState === 'login'" class="flex flex-col space-y-4 mt-auto mb-auto" [formGroup]="loginForm">
      <h2 class="text-3xl font-semibold text-[#5C684B] text-center">
        {{ 'AUTH.LOGIN.TITLE' | translate }}
      </h2>
      <p class="text-m text-[#5C684B] text-center mb-10">
        {{ 'AUTH.LEFT_SIDE.ASKING_INFO' | translate }}
      </p>
      <!-- Email Field -->
      <div>
        <label class="block mb-1 text-1xl text-[#5C684B]">
          {{ 'AUTH.LOGIN.EMAIL_LABEL' | translate }}
        </label>
        <input type="email" formControlName="email" class="input-field" placeholder="{{ 'AUTH.LOGIN.EMAIL_PLACEHOLDER' | translate }}">
        <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="text-red-600 text-xs">
          {{ 'AUTH.VALIDATION.EMAIL_REQUIRED' | translate }}
        </div>
      </div>
      <!-- Password Field -->
      <div>
        <label class="block mb-1 text-1xl text-[#5C684B]">
          {{ 'AUTH.LOGIN.PASSWORD_LABEL' | translate }}
        </label>
        <input type="password" formControlName="password" class="input-field" placeholder="{{ 'AUTH.LOGIN.PASSWORD_PLACEHOLDER' | translate }}">
        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="text-red-600 text-xs">
          {{ 'AUTH.VALIDATION.PASSWORD_REQUIRED' | translate }}
        </div>
        <!-- Forgot Password Link -->
        <a href="#" class="text-sm text-[#5C684B] font-semibold hover:underline" (click)="switchForm('recover'); $event.preventDefault()">
          {{ 'AUTH.LOGIN.FORGET_PASSWORD' | translate }}
        </a>
      </div>
      <!-- Login Button -->
      <button (click)="onLogin()" class="primary-btn text-white py-2 px-4 rounded-md">
        {{ 'AUTH.LOGIN.BUTTON_TEXT' | translate }}
      </button>

      <div class="login-button">
        <button class="flex border justify-center items-center border-[#97A97C] w-full py-2 px-4" (click)="signInGoogle('login')">
          <svg class="h-6 w-6 mr-2" xmlns="http://www.w3.org/2000/svg" width="800px" height="800px" viewBox="-0.5 0 48 48">
            <title>Google-color</title>
            <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Color-" transform="translate(-401.000000, -860.000000)">
                <g id="Google" transform="translate(401.000000, 860.000000)">
                  <path d="M9.8273,24 C9.8273,22.4757 10.0804,21.0144 10.5323,19.6437 L2.6235,13.6043 C1.0821,16.7339 0.2136,20.2603 0.2136,24 C0.2136,27.7365 1.0810,31.2608 2.6203,34.3883 L10.5248,28.3371 C10.0772,26.9728 9.8273,25.5168 9.8273,24" id="Fill-1" fill="#FBBC05"></path>
                  <path d="M23.7136,10.1333 C27.0250,10.1333 30.0159,11.3067 32.3659,13.2267 L39.2023,6.4000 C35.0364,2.7733 29.6955,0.5333 23.7136,0.5333 C14.4269,0.5333 6.4454,5.8443 2.6235,13.6043 L10.5323,19.6437 C12.3546,14.1120 17.5492,10.1333 23.7136,10.1333" id="Fill-2" fill="#EB4335"></path>
                  <path d="M23.7136,37.8667 C17.5492,37.8667 12.3546,33.8880 10.5323,28.3563 L2.6235,34.3947 C6.4454,42.1557 14.4269,47.4667 23.7136,47.4667 C29.4455,47.4667 34.9178,45.4315 39.0250,41.6181 L31.5178,35.8144 C29.3996,37.1488 26.7323,37.8667 23.7136,37.8667" id="Fill-3" fill="#34A853"></path>
                  <path d="M46.1455,24 C46.1455,22.6133 45.9318,21.1200 45.6114,19.7333 L23.7136,19.7333 L23.7136,28.8000 L36.3182,28.8000 C35.6880,31.8912 33.9725,34.2677 31.5178,35.8144 L39.0250,41.6181 C43.3393,37.6139 46.1455,31.6491 46.1455,24" id="Fill-4" fill="#4285F4"></path>
                </g>
              </g>
            </g>
          </svg>
          <span class="text-center text-[#B5C99A]">Google</span>
        </button>
      </div>
      <!-- Switch to Sign-Up -->
      <p class="text-sm text-[#5C684B]">
        {{ 'AUTH.LOGIN.NO_ACCOUNT' | translate }}
        <a href="#" class="text-sm text-[#5C684B] font-semibold hover:underline" (click)="switchForm('signup'); $event.preventDefault()">
          {{ 'AUTH.LOGIN.REGISTER_LINK' | translate }}
        </a>
      </p>
    </div>

    <!-- Sign-Up Form -->
    <div *ngIf="formState === 'signup'" class="flex flex-col space-y-4 text-1xl text-[#5C684B]" [formGroup]="signUpForm">
      <h2 class="text-4xl font-semibold text-center">
        {{ 'AUTH.SIGNUP.TITLE' | translate }}
      </h2>
      <p class="text-center mb-4">Please enter your details</p>
      
      <!-- Name Field -->
      <div>
        <label class="block mb-1 text-sm text-gray-600">
          {{ 'AUTH.SIGNUP.NAME_LABEL' | translate }}
        </label>
        <input type="text" formControlName="name" class="input-field" placeholder="{{ 'AUTH.SIGNUP.NAME_PLACEHOLDER' | translate }}">
        <div *ngIf="signUpForm.get('name')?.touched && signUpForm.get('name')?.invalid" class="text-red-600 text-xs">
          {{ 'AUTH.VALIDATION.NAME_REQUIRED' | translate }}
        </div>
      </div>
      
      <!-- Email Field -->
      <div>
        <label class="block mb-1 text-sm">
          {{ 'AUTH.SIGNUP.EMAIL_LABEL' | translate }}
        </label>
        <input type="email" formControlName="email" class="input-field" placeholder="{{ 'AUTH.SIGNUP.EMAIL_PLACEHOLDER' | translate }}">
        <div *ngIf="signUpForm.get('email')?.touched && signUpForm.get('email')?.invalid" class="text-red-600 text-xs">
          {{ 'AUTH.VALIDATION.EMAIL_REQUIRED' | translate }}
        </div>
      </div>
      
      <!-- Password Field -->
      <div>
        <label class="block mb-1 text-sm">
          {{ 'AUTH.SIGNUP.PASSWORD_LABEL' | translate }}
        </label>
        <input type="password" formControlName="password" class="input-field" placeholder="{{ 'AUTH.SIGNUP.PASSWORD_PLACEHOLDER' | translate }}">
        <div *ngIf="signUpForm.get('password')?.touched && signUpForm.get('password')?.invalid" class="text-red-600 text-xs">
          <div *ngIf="signUpForm.get('password')?.hasError('passwordTooShort')">
            {{ 'AUTH.VALIDATION.PASSWORD_TOO_SHORT' | translate }}
          </div>
          <div *ngIf="signUpForm.get('password')?.hasError('passwordMissingUppercase')">
            {{ 'AUTH.VALIDATION.PASSWORD_MISSING_UPPERCASE' | translate }}
          </div>
          <div *ngIf="signUpForm.get('password')?.hasError('passwordMissingLowercase')">
            {{ 'AUTH.VALIDATION.PASSWORD_MISSING_LOWERCASE' | translate }}
          </div>
          <div *ngIf="signUpForm.get('password')?.hasError('passwordMissingDigit')">
            {{ 'AUTH.VALIDATION.PASSWORD_MISSING_DIGIT' | translate }}
          </div>
          <div *ngIf="signUpForm.get('password')?.hasError('passwordMissingSpecial')">
            {{ 'AUTH.VALIDATION.PASSWORD_MISSING_SPECIAL' | translate }}
          </div>
        </div>
      </div>
      
      <!-- Date of Birth Field -->
      <div>
        <label class="block mb-1 text-sm">
          {{ 'AUTH.SIGNUP.DOB_LABEL' | translate }}
        </label>
        <input type="date" formControlName="dateOfBirth" class="input-field">
        <div *ngIf="signUpForm.get('dateOfBirth')?.touched && signUpForm.get('dateOfBirth')?.invalid" class="text-red-600 text-xs">
          <div *ngIf="signUpForm.get('dateOfBirth')?.hasError('required')">
            {{ 'AUTH.VALIDATION.DOB_REQUIRED' | translate }}
          </div>
          <div *ngIf="signUpForm.get('dateOfBirth')?.hasError('futureDate')">
            {{ 'AUTH.VALIDATION.DOB_FUTURE' | translate }}
          </div>
          <div *ngIf="signUpForm.get('dateOfBirth')?.hasError('dobAge')">
            {{ 'AUTH.VALIDATION.DOB_AGE' | translate:{ requiredAge: 18, actualAge: signUpForm.get('dateOfBirth')?.errors?.['dobAge']?.actualAge } }}
          </div>
        </div>
      </div>
      
      <!-- Gender Field -->
      <div>
        <label class="block mb-1 text-sm">
          {{ 'AUTH.SIGNUP.GENDER_LABEL' | translate }}
        </label>
        <select formControlName="gender" class="input-field">
          <option value="" disabled selected hidden>
            {{ 'AUTH.SIGNUP.GENDER_PLACEHOLDER' | translate }}
          </option>
          <option value="male">{{ 'AUTH.SIGNUP.GENDER_MALE' | translate }}</option>
          <option value="female">{{ 'AUTH.SIGNUP.GENDER_FEMALE' | translate }}</option>
          <option value="other">{{ 'AUTH.SIGNUP.GENDER_OTHER' | translate }}</option>
        </select>
        <div *ngIf="signUpForm.get('gender')?.touched && signUpForm.get('gender')?.invalid" class="text-red-600 text-xs">
          {{ 'AUTH.VALIDATION.GENDER_REQUIRED' | translate }}
        </div>
      </div>
      
      <!-- Role Field -->
      <div>
        <label class="block mb-1 text-sm">
          {{ 'AUTH.SIGNUP.ROLE_LABEL' | translate }}
        </label>
        <div formGroupName="role">
          <select formControlName="name" class="input-field">
            <option value="" disabled selected hidden>
              {{ 'AUTH.SIGNUP.ROLE_PLACEHOLDER' | translate }}
            </option>
            <option value="SIMPLE_USER">{{ 'AUTH.SIGNUP.ROLE_SIMPLE_USER' | translate }}</option>
            <option value="DESIGNER_USER">{{ 'AUTH.SIGNUP.ROLE_USER_DESIGNER' | translate }}</option>
            <option value="NURSERY_USER">{{ 'AUTH.SIGNUP.ROLE_NURSERY_ADMIN' | translate }}</option>
          </select>
          <div *ngIf="signUpForm.get('role.name')?.touched && signUpForm.get('role.name')?.invalid" class="text-red-600 text-xs">
            {{ 'AUTH.VALIDATION.ROLE_REQUIRED' | translate }}
          </div>
        </div>
      </div>
      
      <!-- Sign-Up Button -->
      <button (click)="onSignUp()" class="primary-btn py-2 px-4 rounded-md mt-5">
        {{ 'AUTH.SIGNUP.BUTTON_TEXT' | translate }}
      </button>
      
      <!-- Google Sign-In Button -->
      <div class="login-button">
        <button class="flex border justify-center items-center border-[#97A97C] w-full py-2 px-4" (click)="signInGoogle('register')">
          <svg class="h-6 w-6 mr-2" xmlns="http://www.w3.org/2000/svg" width="800px" height="800px" viewBox="-0.5 0 48 48">
            <title>Google-color</title>
            <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Color-" transform="translate(-401.000000, -860.000000)">
                <g id="Google" transform="translate(401.000000, 860.000000)">
                  <path d="M9.8273,24 C9.8273,22.4757 10.0804,21.0144 10.5323,19.6437 L2.6235,13.6043 C1.0821,16.7339 0.2136,20.2603 0.2136,24 C0.2136,27.7365 1.0810,31.2608 2.6203,34.3883 L10.5248,28.3371 C10.0772,26.9728 9.8273,25.5168 9.8273,24" id="Fill-1" fill="#FBBC05"></path>
                  <path d="M23.7136,10.1333 C27.0250,10.1333 30.0159,11.3067 32.3659,13.2267 L39.2023,6.4000 C35.0364,2.7733 29.6955,0.5333 23.7136,0.5333 C14.4269,0.5333 6.4454,5.8443 2.6235,13.6043 L10.5323,19.6437 C12.3546,14.1120 17.5492,10.1333 23.7136,10.1333" id="Fill-2" fill="#EB4335"></path>
                  <path d="M23.7136,37.8667 C17.5492,37.8667 12.3546,33.8880 10.5323,28.3563 L2.6235,34.3947 C6.4454,42.1557 14.4269,47.4667 23.7136,47.4667 C29.4455,47.4667 34.9178,45.4315 39.0250,41.6181 L31.5178,35.8144 C29.3996,37.1488 26.7323,37.8667 23.7136,37.8667" id="Fill-3" fill="#34A853"></path>
                  <path d="M46.1455,24 C46.1455,22.6133 45.9318,21.1200 45.6114,19.7333 L23.7136,19.7333 L23.7136,28.8000 L36.3182,28.8000 C35.6880,31.8912 33.9725,34.2677 31.5178,35.8144 L39.0250,41.6181 C43.3393,37.6139 46.1455,31.6491 46.1455,24" id="Fill-4" fill="#4285F4"></path>
                </g>
              </g>
            </g>
          </svg>
          <span class="text-center text-[#B5C99A]">Google</span>
        </button>
      </div>
      <!-- Switch to Login -->
      <p class="text-sm text-[#5C684B]">
        {{ 'AUTH.SIGNUP.ALREADY_HAVE_ACCOUNT' | translate }}
        <a href="#" class="text-sm text-[#5C684B] font-semibold hover:underline" (click)="switchForm('login'); $event.preventDefault()">
          {{ 'AUTH.SIGNUP.LOGIN_LINK' | translate }}
        </a>
      </p>
    </div>

    <!-- Password Recovery Form -->
    <div *ngIf="formState === 'recover'" class="flex flex-col space-y-4 mt-auto mb-auto" [formGroup]="recoveryPasswordForm">
      <h2 class="text-3xl font-semibold text-[#5C684B] text-center">
        {{ 'AUTH.RECOVER.TITLE' | translate }}
      </h2>
      <p class="text-m text-[#5C684B] text-center mb-10">
        {{ 'AUTH.RECOVER.DESCRIPTION' | translate }}
      </p>
      <!-- Email Field -->
      <div>
        <label class="block mb-1 text-1xl text-[#5C684B]">
          {{ 'AUTH.RECOVER.EMAIL_LABEL' | translate }}
        </label>
        <input type="email" formControlName="email" class="input-field" placeholder="{{ 'AUTH.RECOVER.EMAIL_PLACEHOLDER' | translate }}">
        <div *ngIf="recoveryPasswordForm.get('email')?.touched && recoveryPasswordForm.get('email')?.invalid" class="text-red-600 text-xs">
          {{ 'AUTH.VALIDATION.EMAIL_REQUIRED' | translate }}
        </div>
      </div>
      <!-- Recovery Button -->
      <button (click)="onRecoverPassword()" class="primary-btn py-2 px-4 rounded-md mr-auto">
        {{ 'AUTH.RECOVER.BUTTON_TEXT' | translate }}
      </button>
      <!-- Back to Login Link -->
      <p class="text-sm text-[#5C684B]">
        {{ 'AUTH.RECOVER.BACK_TO_LOGIN' | translate }}
        <a href="#" class="text-[#5C684B] font-semibold hover:underline" (click)="switchForm('login'); $event.preventDefault()">
          {{ 'AUTH.RECOVER.LOGIN_LINK' | translate }}
        </a>
      </p>
    </div>
  </div>
</div>
