.map-container {
  width: 100%;
  max-width: 700px;
  height: 400px;
  margin: 0 auto;
}

#map {
  height: 100%;
  width: 100%;
}

.input-canton{
  border: 1px solid;
  border-radius: 5px;
}

.title-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
