<app-header (toggleCart)="toggleCart()"/>

<mat-sidenav-container>
    <mat-sidenav #cart mode="over" position="end" class="sidenav-content">
        <div class="top-cart-content">
            <span class="cart-title"> {{ 'USER_CART.TITLE' | translate }} </span>
            @if(cartItems && cartItems.length > 0) {
                <div class="cart-items" *ngFor="let cartItem of cartItems">
                    <app-cart-item
                    [id]="cartItem.id!"
                    [name]="cartItem.itemName!"
                    [amount]="cartItem.quantity!"
                    [price]="cartItem.price!"
                    ></app-cart-item>
                </div>
            } @else {
                <div>
                    <span class="cart-no-items">{{ 'USER_CART.NO_ITEMS' | translate }}</span>
                </div>
            }
        </div>
        <div class="bottom-cart">
            <hr>
            <div class="bottom-cart-content">
                {{ 'USER_CART.SUBTOTAL' | translate }}: ${{this.subtotal}}
                <br>
                <small class="txt-small">{{ 'USER_CART.SMALL' | translate }}</small>
                <br>
                <br>
                <button class="btn-compra" (click)="goToCheckout()">{{ 'USER_CART.BTN_CHECKOUT' | translate }}</button>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet>
        </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<app-footer/>
