<div class="table-container table-responsive">
    <table class="table-users table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Active Status</th>
          <th>Created</th>
          <th>Updated</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (item of users; track item.id) {
          <tr>
            <th>{{item.id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.gender}}</td>
            <td>{{item.isActive ? 'No' : 'Yes'}}</td>
            <td>{{item.createdAt | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td>{{item.updatedAt | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td>
              <p class="edit" (click)="showDetailModal(item, detailModal)">Editar</p>
              <p class="delete" (click)="deleteUser(item)">Eliminar</p>
            </td>
          </tr>
        } @empty {
          <tr>
            <td>
              <div>
                <p>There are not users</p>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

<app-modal #detailModal>
{{selectedItem.id}}
hoasdlfasdfasdf
</app-modal>