<footer class="relative text-white footer">
  <!-- Top stripe section (branding) -->
  <div class="bg-[#97A97C] py-4">


<!--    <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 text-sm">-->
<!--      &lt;!&ndash; Left: About and Links &ndash;&gt;-->
<!--      <div class="text-left">-->
<!--        <h3 class="font-semibold text-lg">{{ 'FOOTER.ABOUT' | translate }}</h3>-->
<!--        <ul class="mt-2 space-y-2">-->
<!--          <li><a href="#" class="hover:underline">{{ 'FOOTER.ABOUT_US' | translate }}</a></li>-->
<!--          <li><a href="#" class="hover:underline">{{ 'FOOTER.CONTACT' | translate }}</a></li>-->
<!--          <li><a href="#" class="hover:underline">{{ 'FOOTER.BLOG' | translate }}</a></li>-->
<!--        </ul>-->
<!--      </div>-->

      <!-- Center: Social Media -->
      <div class="text-center">
        <h3 class="font-semibold text-lg">{{ 'FOOTER.FOLLOW_US' | translate }}</h3>
        <div class="flex justify-center mt-2 space-x-4">
          <a href="#" class="hover:opacity-75 transition">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#DCE6D3" stroke-linecap="round" stroke-linejoin="round" width="28" height="28" stroke-width="2">
              <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"></path>
              <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
              <path d="M16.5 7.5l0 .01"></path>
            </svg>
          </a>
          <a href="#" class="hover:opacity-75 transition">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#DCE6D3" stroke-linecap="round" stroke-linejoin="round" width="28" height="28" stroke-width="2">
              <path d="M12 10.174c1.766 -2.784 3.315 -4.174 4.648 -4.174c2 0 3.263 2.213 4 5.217c.704 2.869 .5 6.783 -2 6.783c-1.114 0 -2.648 -1.565 -4.148 -3.652a27.627 27.627 0 0 1 -2.5 -4.174z"></path>
              <path d="M12 10.174c-1.766 -2.784 -3.315 -4.174 -4.648 -4.174c-2 0 -3.263 2.213 -4 5.217c-.704 2.869 -.5 6.783 2 6.783c1.114 0 2.648 -1.565 4.148 -3.652c1 -1.391 1.833 -2.783 2.5 -4.174z"></path>
            </svg>
          </a>
          <a href="#" class="hover:opacity-75 transition">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#DCE6D3" stroke-linecap="round" stroke-linejoin="round" width="28" height="28" stroke-width="2">
              <path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z"></path>
            </svg>
          </a>
        </div>
      </div>

      <!-- Right: Policies and Support -->
<!--      <div class="text-right">-->
<!--        <h3 class="font-semibold text-lg">{{ 'FOOTER.LEGAL' | translate }}</h3>-->
<!--        <ul class="mt-2 space-y-2">-->
<!--          <li><a href="#" class="hover:underline">{{ 'FOOTER.TERMS' | translate }}</a></li>-->
<!--          <li><a href="#" class="hover:underline">{{ 'FOOTER.PRIVACY' | translate }}</a></li>-->
<!--          <li><a href="#" class="hover:underline">{{ 'FOOTER.HELP' | translate }}</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->

  </div>

  <!-- Main footer section -->
  <div class="bg-[#5C684B] text-center py-1">

    <!-- Bottom: Copyright -->
    <div class="text-s text-gray-300 flex justify-center items-center text-center">
      <p>&copy; 2025 Blooming. {{ 'FOOTER.RIGHTS' | translate }}</p>
    </div>

    <!-- SVG Logo positioned at the bottom-right corner -->
    <div class="absolute bottom-2 right-0">
      <img src="../../../../assets/icons/danta_icon.png"
           alt="Logo"
           class="w-8 opacity-80 hover:opacity-100 transition-opacity duration-300">
    </div>
  </div>
</footer>
