<div class="text-[var(--secondary-color)] grid grid-cols-1 mb-2 md:grid-cols-2 lg:grid-cols-6 gap-y-6 md:gap-x-2 xl:mx-30 xl:mt-10 xl:gap-y-8 xl:gap-x-7 2xl:mx-50 2xl:my-10">
  <admin-card [title]="'Usuarios'" class="col-span-1 lg:col-span-2">
    <h3 class="font-semibold">0</h3>
  </admin-card>
  <admin-card [title]="'Productos'" class="col-span-1 lg:col-span-2">
    <h3 class="font-semibold">0</h3>
  </admin-card>
  <admin-card [title]="'Ventas del mes'" class="col-span-1 md:col-span-2 lg:col-span-2">
    <h3 class="font-semibold">$00,00</h3>
  </admin-card>
  <admin-card [title]="'Gestión de usuarios'" class="col-span-1 lg:col-span-3">
    <p>Accede al listado completo de usuarios registrados en la plataforma. Explora sus perfiles, revisa sus actividades y gestiona sus roles y permisos de manera sencilla. ¡Visita la página de usuarios ahora!</p>
    <button class="border-1 px-10 py-1 mt-5 ">
      <a href="#">Gestionar</a>
    </button>
  </admin-card>
  <admin-card [title]="'Gestión de productos'" class="col-span-1 lg:col-span-3">
    <p>Explora todos los productos disponibles en la plataforma. Consulta detalles como el nombre, la descripción, el precio y el stock para encontrar lo que buscas. ¡Visita la sección de productos ahora!</p>
    <button class="border-1 px-10 py-1 mt-5 ">
      <a href="#">Gestionar</a>
    </button>
  </admin-card>
  <admin-card [title]="'Reportes'" class="col-span-1 md:col-span-2 lg:col-span-6">
    <p>Obtén información clave sobre la actividad de los usuarios y las ventas de la plataforma. Filtra por fechas, genera reportes detallados y analiza los datos para mejorar la gestión. ¡Visita la sección de reportes ahora!</p>
    <button class="border-1 px-10 py-1 mt-5 ">
      <a href="#">Gestionar</a>
    </button>
  </admin-card>
</div>
