<div class="px-5 md:px-20 py-10 text-[var(--main-text)]">
    <div class="flex justify-between items-center pb-5">
        <h1 class="text-[2rem] font-semibold">{{ 'CREATE_PRODUCT.TITLE' | translate}}</h1>
    </div>
    <div class="bg-[#FCFFF8] border-1 border-[#DCE6D3] rounded-lg px-5 pt-7 mt-5 xl:mx-70">
        <div class="px-4 sm:px-0 border-[#DCE6D3]">
            <h3 class="text-lg font-semibold text-center">{{ 'CREATE_PRODUCT.HEADER' | translate}}</h3>
        </div>
        <div class="">
            <form [formGroup]="productForm" class="bg-[#FCFFF8] rounded-xl text-[var(--main-text)]" enctype="multipart/form-data">
                <div class="mt-6 border-t border-b border-[#DCE6D3]">
                    <dl class="divide-y divide-[#DCE6D3]">
                        <div class="px-4 py-6 grid sm:gap-4 sm:px-0 xl:grid-cols-3">
                            <label class="font-normal" for="name">{{ 'CREATE_PRODUCT.FORM.NAME' | translate}}</label>
                            <input class="mt-1 px-1 sm:col-span-2 sm:mt-0 border-1 rounded-md" type="text" id="name" name="name" formControlName="name" required>
                        </div>
                        <div class="px-4 py-6 grid sm:gap-4 sm:px-0 xl:grid xl:grid-cols-3">
                            <label class="font-normal" for="description">{{ 'CREATE_PRODUCT.FORM.DESCRIPTION' | translate}}</label>
                            <textarea class="mt-1 px-1 sm:col-span-2 sm:mt-0 border-1 rounded-md"  id="description" name="description" formControlName="description" required></textarea>
                        </div>
                        <div class="px-4 py-6 grid sm:gap-4 sm:px-0 xl:grid xl:grid-cols-3">
                            <label class="font-normal" for="price">{{ 'CREATE_PRODUCT.FORM.PRICE' | translate}}</label>
                            <div class="relative sm:col-span-2">
                                <input class="mt-1 px-5 sm:mt-0 border-1 rounded-md w-full" type="number" id="price" name="price" formControlName="price" step="any" required>
                                <span class="absolute left-2 top-1/2 transform -translate-y-1/2">$</span>
                            </div>
                        </div>
                    </dl>
                </div>
                <div class="flex justify-center my-5">
                    <button class="primary-btn" (click)="onSubmit()" type="submit">{{ 'CREATE_PRODUCT.FORM.SUBMIT_BUTTON' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
